<!DOCTYPE html>
<html>
<head>
	
	<title>Articles4All</title>
</head>


<body>
		<h1><a href="{% url 'home-page' %}">Articles4All</a> 
		
		<small><a href="#">Articles</a></small>
		<small><a href="#">Authors</a></small>
		<small><a href="#">Contact</a></small>
		<a href="{% url 'create-article' %}"><button>Submit article</button></a>
		
		</h1>

	
		{% include 'navbar.html' %}
			

		{% if messages %}

		<ul class="messages">
			
			{% for message in messages %}	
			
				<li>{{messages}} </li>

			{% endfor %}

		</ul>

		{% endif %}

		<hr>

	

</body>
</html>