<!DOCTYPE html>
<html>
<head>
	
	<title>Articles4All</title>
</head>


<style>
	
	.header{
		background-color: skyblue;
		font: small-caps bold 24px/1 sans-serif;
	}


</style>

<body>

	<div class="header">
		<h1><a href="{% url 'home-page' %}"  style="text-decoration: none; color: black;">Articles4All</a> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		

		<small><a href="{% url 'articles-page' %}"  style="text-decoration: none; font-size: 30px; color: black;">Articles</a></small>&nbsp;&nbsp;&nbsp;&nbsp;
		<small><a href="{% url 'authors-page' %}"  style="text-decoration: none; font-size: 30px; color: black;">Authors</a></small>&nbsp;&nbsp;&nbsp;&nbsp;
		<small><a href="#"  style="text-decoration: none; font-size: 30px; color: black;">Contact</a></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{% url 'create-article' %}"  style="background-color: salmon; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;">Submit article</a>
		
		</h1>

	
		{% include 'navbar.html' %}
			

		{% if messages %}

		<ul class="messages">
			
			{% for message in messages %}	
			
				<li>{{messages}} </li>

			{% endfor %}

		</ul>

		{% endif %}

		<hr>

	
	</div>

</body>

</html>