<!DOCTYPE html>
<html>
<head>
	
	<title>Articles4All</title>
</head>
<style>
	
	.header{
		display: grid;
		grid-template-rows: 1fr;
	}


</style>
<body>
	<div class="header">
		<h1><a href="{% url 'home-page' %}">Articles4All</a>-<h2><a href="#">Articles</a></h2>
		<h2><a href="#">Authors</a></h2>
		<h2><a href="#">Contact</a></h2>
		<h2><a href="{% url 'create-article' %}"><button>Submit article</button></a></h2>
		</h1>

	</div>
	
		{% include 'navbar.html' %}
			

		{% if messages %}

		<ul class="messages">
			
			{% for message in messages %}	
			
				<li>{{messages}} </li>

			{% endfor %}

		</ul>

		{% endif %}

		<hr>

	

</body>
</html>