{% include 'base.html' %}


{% block content %}


		<h1>{{object.title}} - {{object.author}}</h1>
		<br>
		<h3>{{object.body}}</h3>

		<br>


		<div class="comment-section">

			<div class="show-comments">
				<h2>Discussions</h2>
				<hr>
				{% for comment in comments %}

					<h3>{{comment.body}}</h3> - <small>@{{comment.user}}</small>
					<br>
					
					{% if request.user == comment.user %}
					<a href="{% url 'delete-comment' comment.id %}">delete</a>
					{% endif %}

					<hr>
				{% endfor %}
			</div>


			{% if request.user.is_authenticated %}
			<div class="add-comment">
				
				<form method="POST" action="">
					
					{% csrf_token %}

					<input type="text" name='body' placeholder="Write your comment here..." />

				</form>

			</div>
			{% endif %}

		</div>


{% endblock %}