{% include 'base.html' %}


{% block content %}
	
<style>
	.home-container{
		display: grid;
		position: fixed;
		left: 500px;
	}
</style>


<div class="home-container">
	



	<div>
	
		<h2 style="font-family: helvetica, sans-serif;">Latest articles</h2>
		<hr>
	
	{% for article in object  %}

		<h2 style="font: 2em 'Fira Sans', sans-serif;"><a href="{% url 'article-page' article.id %}" style="font-family: bahnschrift, sans-serif ;text-decoration: none; color: green;">{{article.title}}</a> - (topic : {{article.topic}})</h2> <small style="font-family: arial, sans-serif;">@{{article.author}} </small>
		<br>

		{% if request.user == article.author %}
		<small><a href="{% url 'update-article' article.id %}">update</a></small> - <small><a href="{% url 'delete-article' article.id %}">delete</a></small>
		{% endif %}
		
		<hr>
	{% endfor %}

	</div>


</div>


{% endblock %}