<div class="Categories">
			<div>
				{% if request.user.is_authenticated %}

					<h3  style="font-family: segoe ui, sans-serif; color: black;">Hello {{request.user}} !</h3>

					<a href="{% url 'logout-page' %}" style="text-decoration: none; color: cornflowerblue;">logout</a>

				{% else %}
					<a href="{% url 'login-page' %}" style="font-family: candara, sans-serif ;text-decoration: none; color: cornflowerblue;">Login</a>
				{% endif %}
			</div>

			<h1 style="font-family: corbel, sans-serif;">Categories</h1>
			
			<hr style="border-top: 1px dashed #8c8b8b;">


			<div>
				<a href="{% url 'home-page' %}" style="font-family: Segoe UI, sans-serif; color: black; text-decoration: none;">All</a>
			</div>

			{% for topic in topics %}
			
			<div style=" display: flex; flex-wrap: wrap">
				<a href="{% url 'home-page' %}?q={{topic.name}}" style="font-family: Segoe UI, sans-serif; color: forestgreen; text-decoration: none;">{{topic.name}}</a>
				<br>
			</div>
			
			{% endfor %}

		</div>
