{% include 'base.html' %}

{% block content %}
	

<style >
	
	.home-container{
		display: grid;
		grid-template-columns: 1.5fr 4fr 1.5fr;
	}


</style>

	<div class="home-container">
		
		<div class="category">
			
			{% include 'article/categories.html' %}

			<hr>
		
			{% include 'article/discussion.html' %}
		
		</div>

<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->

		<div class="articles">

			{% for article in articles %}

				<h2>{{article.id}} - <a href="{% url 'article-page' article.id %}">{{article.title}}</a> - {{article.topic}}</h2> <small>@{{article.author}} </small>
				<br>

				{% if request.user.username == article.author.name %}
				<small><a href="{% url 'update-article' article.id %}">update</a></small> - <small><a href="{% url 'delete-article' article.id %}">delete</a></small>
				{% endif %}
								
				<hr>
			{% endfor %}



		</div>


<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->


	<div class="activity">

		{% include 'article/activity_component.html' %}
	
	</div>


	</div>

{% endblock %}