{% include 'base.html' %}

{% block content %}
	

<style >
	
	.home-container{
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}


</style>

	<div class="home-container">
		
		<div class="Categories">
			
			<h1>Categories</h1>

			{% if request.user.is_authenticated %}

				<h3>Hello {{request.user}} !</h3>
				<a href="{% url 'logout-page' %}">logout</a>

			{% else %}
				<a href="{% url 'login-page' %}">Login</a>
			{% endif %}
			
			<hr>


			<div>
				<a href="{% url 'home-page' %}">All</a>
			</div>

			{% for topic in topics %}
			
			<div>
				<a href="{% url 'home-page' %}?q={{topic.name}}">{{topic.name}}</a>
				<br>
			</div>
			
			{% endfor %}

		</div>


		<div class="articles">

			{% for article in articles %}

				<h2>{{article.id}} - <a href="{% url 'article-page' article.id %}">{{article.title}}</a> - {{article.topic}}</h2> <small>@{{article.author}} </small>
				<br>

				{% if request.user.username == article.author.name %}
				<small><a href="{% url 'update-article' article.id %}">update</a></small> - <small><a href="{% url 'delete-article' article.id %}">delete</a></small>
				{% endif %}
								
				<hr>
			{% endfor %}



		</div>



		<div class="activities">
			<h1>Activities</h1>
			<hr>
			{% for comment in activity %}


				<small>@{{comment.user}} commented on {{comment.article.title}}: </small>

				<h3>{{comment.body}}</h3>

				{% if request.user.username == comment.user.username %}
				<a href="{% url 'delete-comment' comment.id %}">delete</a>
				{% endif %}

				<hr>

			{% endfor %}

		</div>


	</div>

{% endblock %}