{% include 'base.html' %}

{% block content %}
	

<style >
	
	.home-container{
		display: grid;
		grid-template-columns: 1.5fr 4fr 1.5fr;
	}


</style>

	<div class="home-container">
		
		<div class="category">
			
			{% include 'article/categories.html' %}

			<hr>
		
		
		</div>

<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->

		<div class="articles">
			<h1 style="font: small-caps bold 25px sans-serif;">Latest articles</h1>
			<hr>
			{% for article in articles %}

				<h2 style="font: 1.6em 'Fira Sans', sans-serif;"><a href="{% url 'article-page' article.id %}" style="text-decoration: none; color: green;">{{article.title}}</a></h2> 
				<h4 style="font: caption">By @{{article.author.name}} - {{article.created|timesince}} ago</h4>
				<br>

				{% if request.user.username == article.author.name %}
				<small><a href="{% url 'update-article' article.id %}">update</a></small> - <small><a href="{% url 'delete-article' article.id %}">delete</a></small>
				{% endif %}
								
				<hr>
			{% endfor %}



		</div>


<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->
<!-- &&&&&&******$$$$$$$$$$$$$$$$ -->


	<div class="activity">

		{% include 'article/activity_component.html' %}
	
	</div>


	</div>

{% endblock %}